body {
    margin: 20px 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#canvas {
    width: 75%;
    float: left;
    height: 400px;
}

#map {
    width: 25%;
    float: right;
    height: 400px;
}

#high {
    margin-bottom: 20px;
    margin-top: 20px;
}
